body {
  background: linear-gradient(to right, rgb(10, 113, 182), yellow, rgb(10, 113, 182), yellow, rgb(10, 113, 182), yellow, rgb(10, 113, 182), yellow, rgb(10, 113, 182), yellow, rgb(10, 113, 182), yellow, rgb(10, 113, 182), yellow, rgb(10, 113, 182), yellow);
  padding: 0;
  margin: 0;
}